h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin-top:1px;
	margin-bottom:1px;
	color: #FFFFFF;
	font-weight: normal;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top:1px;
	margin-bottom:1px;
}
.bottom {
	BORDER-BOTTOM: thin dotted #ffffff;
}
.NAVIGATION {
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px 7px 5px;
	border: 1px double #0B0626;
	background-color: #FFFFFF;
	font-weight: bold;
	color: #000000;
	height: 1px;
	width: 1px;

}
.PAGE-NAVIGATION {
	FONT-SIZE: 9px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px;
}
.HEADING {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;

}
a:hover {
	color: #FFFFFF;
	background-color: #003366;
}
.t01 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.b01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.b01b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.s-m {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top:1px;
	margin-bottom:1px;
}
.no-underline {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.bar01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;

}
.bg {
	background-image: url(../website-5.0/graphics/backgrounds/dj-girl-grey.jpg);
	background-repeat: no-repeat;
}
.bg-writer-group-los-angeles {

	background-image: url(../deadlinejunkies/graphics/writers-group-girl.jpg);
	background-repeat: no-repeat;
}
