hr {border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.bar02 {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {margin: 0px;}
.left{float:left; margin-right:5px;}
.right{float:right;}
.container {
	width: 98%;
	padding: 5px 10px 0px 10px;
	margin: 0px auto 0px auto;
	text-align:center;
}
.box-1041 {
	width: 1041px;
	padding: 0px;
	margin: 0px auto 0px auto;
	text-align:center;
	background-repeat:no-repeat;
}
.box-50 {
	float:right;
	width: 50%;
	padding: 0px;
	margin: 0px auto 0px auto;
}
.bottom {
	clear:both;
	text-align: center;
}
/* top NAV START */
#top-nav {
	width: 1041px;
	height:110px;
	margin: 0px auto 0px auto;
	background-image:url(../website-07/freelance-illustrator.gif);
	background-repeat:no-repeat;
	background-position:center; 
}
#top-nav-text {
	padding: 35px 77px 0px 0px;
	margin: 0px auto 0px auto;
	text-align:right;
}
ul.topUL {
        margin: 0px auto 0px auto;
        line-height: 1.4;
}
.topUL li {
        display: inline;
        margin: 0px auto 0px auto;
		margin: 8px;
}
/* top NAV END */
/* SIDE NAV START */
#side-nav {
	float:left;
	width: 180px;
	padding: 0px;
	margin: 67px 0px 0px 0px;
	text-align:right;
}
ul.sideUL {
        line-height: 1;
}
.sideUL li {
list-style-type: none;
margin: 8px 17px 0px 0px;
}
/* SIDE NAV END */

/* FOOT NAV START */
#foot-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:center;
}
#foot-nav ul li { 
	display: inline; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 7 0 7;
}


/* FOOT NAV END */
#content {
	float:left;
	width: 861px;
	padding: 0px;
	margin: 0px auto 0px auto;
	text-align:center;
}
