h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top:1px;
	margin-bottom:1px;
	color: #FFFFFF;
}
h2 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	font-weight: bold;
	margin-top:1px;
	margin-bottom:1px;
	color: #FFFFFF;
}
.bottom {
	BORDER-BOTTOM: thin dotted #ffffff;
}
.bigtext1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.horizTOP {	BORDER-TOP-WIDTH: thin;
	BORDER-TOP-COLOR: #ffffff;
	border-top-style: dotted;
}
.leftbottom {	BORDER-LEFT: #ffffff thin dotted; BORDER-BOTTOM: #ffffff thin dotted
}
.leftbracket {	BORDER-LEFT: thin dotted #ffffff;
	BORDER-BOTTOM: thin dotted #ffffff;
	border-top-width: thin;
	border-top-style: dotted;
	border-top-color: #FFFFFF;
}
.rightbottom {	BORDER-RIGHT: #ffffff thin dotted; BORDER-BOTTOM: #ffffff thin dotted
}
.rightbracket {	BORDER-BOTTOM: thin dotted #ffffff;
	border-top-width: thin;
	border-top-style: dotted;
	border-top-color: #FFFFFF;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #FFFFFF;
}
.fullbracket {
	BORDER-LEFT: thin dotted #ffffff;
	BORDER-BOTTOM: thin dotted #ffffff;
	border-top-width: thin;
	border-top-style: dotted;
	border-top-color: #FFFFFF;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #FFFFFF;
}
.NAVIGATION {
	FONT-SIZE: 9px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 8px 7px;
	border: 1px solid #0B0626;
	background-color: #99CCFF;
	font-weight: bold;
	color: #000000;
}
.PAGE-NAVIGATION {
	FONT-SIZE: 9px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px;
}
.HEADING {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top:1px;
	margin-bottom:1px;
	color: #FFFFFF;
}
a:hover {
	color: #FFFFFF;
	background-color: #000099;
}
.HEADING-WHITE {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.white-links {
	color: #FFFFFF;
}
.copyright-white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.basic-text {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.arial-12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
